div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.green {
    height: 300px;
    width: 300px;
    background-color: green;
    border: 2px solid black;
}
.red {
    height: 200px;
    width: 200px;
    background-color: red;
    border: 2px solid black;
}
.yellow {
    height: 100px;
    width: 100px;
    background-color: yellow;
    border: 2px solid black;
}